## Simple Expression

### Keywords are the reserved words in Python. We cannot use a keyword as a variable name, function name or any other identifier. They have some special meaning, recognized by Python Language.

In [1]:
import keyword # Importing keyword module

In [2]:
print(keyword.kwlist) # All keywords at one place

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### Boolean Expressions created with Keywords & Operators

In [3]:
# pythonn keywords --> and, or, not, is, True, False
print("1)",True and False)
print("2)",True and True)
print("3)",True or False)
print("4)",True or True)
print("5)",False or False)
print("6)",True is True)
print("7)",True is False)
print("8)",False is True)
print("9)",not True)
print("10)",not False)
print("11)",True and False or True)
print('--' * 20)
print("12)",True + False,True - False,True + True,True - True,False - False,False + False)

1) False
2) True
3) True
4) True
5) False
6) True
7) False
8) False
9) False
10) True
11) True
----------------------------------------
12) 1 1 2 0 0 0

## Variables & DataTypes

#### Integer & Float :-

In [4]:
var_1 = 20   # var_1 is variable name & 20 is integer type value of variable var_1
var_2 = 30.5 # similarly var_2 is variable name & 30.5 is float type value of variable var_2
# let's check the datatype of previous two variables using python built-in function --> type()
print(type(var_1),type(var_2))

<class 'int'> <class 'float'>

#### Complex Numbers :-

In [5]:
complex_num = 3j + 8     # It has to parts --> first part is having the imaginary j and second part is the real number
print(type(complex_num))

<class 'complex'>

#### String :-

In [6]:
# f_name & l_name both are stroring string type data, having group of alphabets
# wrapped in single,double,or even triple quotes which is used only for documentation purpose. 
f_name = "Sayantan"
l_name = "Naha"
print(f_name + " " + l_name) # string concatenation or joinning two or more strings using + operator
# let's check the datatype
print(type(f_name),type(l_name))

Sayantan Naha
<class 'str'> <class 'str'>

In [7]:
day = "Sunday "
print(day * 5) # Here the value inside day variable will be cloned/replicated 5 times
print(day + var_1) # Here it will give TypeError because string and integer concatenation can't be possible without converting any of them explicitly

Sunday Sunday Sunday Sunday Sunday

TypeError: can only concatenate str (not "int") to str

In [8]:
print(day + str(var_1)) # Now it is possible because of explicit(forcefully) typecasting(conversion) to string datatype.

Sunday 20

In [9]:
boolean_T = True
boolean_F = False
print(boolean_T,boolean_F)
print(type(boolean_T),type(boolean_F))

True False
<class 'bool'> <class 'bool'>

## Data Structure

#### Lists :- In Python, lists allow us to store a sequence of items in a single variable.  
#### List Characteristics ::
 * Ordered - They maintain the order of elements.
 * Mutable - Items can be changed after creation.
 * Allow duplicates - They can contain duplicate values.
#### Each element in a list is associated with a number, known as a index. If the specified index does not exist in a list, Python throws the IndexError exception.

In [10]:
# Two ways of empty list creation
empty_list = []
empty_list = list()
print(empty_list)

[]

In [11]:
print(type(empty_list))

<class 'list'>

In [12]:
# creating a proper list of string objects/elements
lst = ['a','ab','b','ba']
print(lst)

['a', 'ab', 'b', 'ba']

In [13]:
# accessing elements using list index which starts from 0, can have negative indexing starting from -1
str_el = lst[0]
str_el = lst[1]
str_el = lst[2]
str_el = lst[3]
str_el = lst[-1] # It print the value of last assignment i.e. lst[-1] because same variable gets updated. 
                 # Also values at index -1 & index 3 are pointing to same location.
print(str_el)

ba

In [14]:
# How to copy a list to another
l = lst  # Or l = list(lst)
print(l)

['a', 'ab', 'b', 'ba']

In [15]:
# Different ways to manipulate/edit a list
print("\nDifferent ways to manipulate a list / List Methods --> ".upper())
print('=='*30)

# 1) Using List copy() Method
marks = [30,90,50,80]
copy_of_marks = marks.copy()
print("Using copy() method -->",copy_of_marks)
print('--'*35)

# 2) Using built-in list() method, but we need to pass an iterable. Can be a string.
names = list('Sayantan')
name = ['Sayantan']
print("Using built-in list() method -->",names)
print('--'*45)

# 3) Using list append() method
my_lname = list() # or []
my_lname.append('Naha')
print("Using list append() method -->",my_lname)
names.append(['Kunal','Arijit','Vishal','Suman','Tanmay'])
print("Another list append() -->",names)
name.append(['Kunal','Arijit','Vishal','Suman','Tanmay'])
print("More list append() -->",name)
print('--'*45)

# 4) Using list insert(index,insert) method.
name.insert(2,'Prithwijit')
print("Using insert() method -->",name)
print('--'*45)

# 5) Using python built-in len() function, check how many elements are there inside a list
print("Using len() method -->",len(name))
print('--'*45)

# 6) How to Replace/Adding object in a list
name[1][3] = 'Samrat'
print("Replacing/Adding object -->",name)
print('--'*45)

# 7) List Slicing
print("List slicing technique-->",name[1][1:4:2])  # for slicing --> syntax is list_name(initial_index,ending_index,index_jump)
print("Another list slicing -->",name[-1::-2])     # negative indexing with backward index_jump = -2
print('--'*45)

# 8) List Concatenation
print("List concatenation -->",name + ['Anirban'])
print('--'*45)

# 9) List count() --> will show only first element's index if there is any repeatation.
list_of_marks = [23,90,67,45,87,65,89,34,23,90,45]
print(f"List count() method to count total occurance of {list_of_marks[3]} in {list_of_marks} -->",list_of_marks.count(45))
print('--'*45)

# 10) List extend() --> will extend the list further with provided elements
l_one = list_of_marks.copy()
l_one.extend([75,30,69])
print("Extented list -->",l_one)
print('--'*45)

# 11) Delete element from list --> pop() & remove() method. But remove() only works with integers 
#     and in case of any duplication, remove() deletes the first occurance of that element.
#     pop() takes the index value, where remove() take the element value as argument
l_one.pop(-1)
l_one.remove(90) # only first occurance, if duplicates.
print("List after deletion -->",l_one)
print('--'*45)

# 12) Reversing and Sorting List : Using reverse() & sort() method
l_one.reverse()
print("REVERSED -->",l_one)
l_one.sort()
print("SORTED ASCENDING ORDER -->",l_one)
l_one.sort(reverse=True)
print("SORTED DESCENDING ORDER -->",l_one)

DIFFERENT WAYS TO MANIPULATE A LIST / LIST METHODS -->
============================================================
Using copy() method --> [30, 90, 50, 80]
----------------------------------------------------------------------
Using built-in list() method --> ['S', 'a', 'y', 'a', 'n', 't', 'a', 'n']
------------------------------------------------------------------------------------------
Using list append() method --> ['Naha']
Another list append() --> ['S', 'a', 'y', 'a', 'n', 't', 'a', 'n', ['Kunal', 'Arijit', 'Vishal', 'Suman', 'Tanmay']]
More list append() --> ['Sayantan', ['Kunal', 'Arijit', 'Vishal', 'Suman', 'Tanmay']]
------------------------------------------------------------------------------------------
Using insert() method --> ['Sayantan', ['Kunal', 'Arijit', 'Vishal', 'Suman', 'Tanmay'], 'Prithwijit']
------------------------------------------------------------------------------------------
Using len() method --> 3
------------------------------------------------------------------------------------------
Replacing/Adding object --> ['Sayantan', ['Kunal', 'Arijit', 'Vishal', 'Samrat', 'Tanmay'], 'Prithwijit']
------------------------------------------------------------------------------------------
List slicing technique--> ['Arijit', 'Samrat']
Another list slicing --> ['Prithwijit', 'Sayantan']
------------------------------------------------------------------------------------------
List concatenation --> ['Sayantan', ['Kunal', 'Arijit', 'Vishal', 'Samrat', 'Tanmay'], 'Prithwijit', 'Anirban']
------------------------------------------------------------------------------------------
List count() method to count total occurance of 45 in [23, 90, 67, 45, 87, 65, 89, 34, 23, 90, 45] --> 2
------------------------------------------------------------------------------------------
Extented list --> [23, 90, 67, 45, 87, 65, 89, 34, 23, 90, 45, 75, 30, 69]
------------------------------------------------------------------------------------------
List after deletion --> [23, 67, 45, 87, 65, 89, 34, 23, 90, 45, 75, 30]
------------------------------------------------------------------------------------------
REVERSED --> [30, 75, 45, 90, 23, 34, 89, 65, 87, 45, 67, 23]
SORTED ASCENDING ORDER --> [23, 23, 30, 34, 45, 45, 65, 67, 75, 87, 89, 90]
SORTED DESCENDING ORDER --> [90, 89, 87, 75, 67, 65, 45, 45, 34, 30, 23, 23]

#### Tuple :- A tuple is a collection similar to a Python list. The primary difference is that we cannot modify a tuple once it is created. 
#### Tuple Characteristics
#### Tuples are:

* Ordered - They maintain the order of elements.
* Immutable - They cannot be changed after creation.
* Allow duplicates - They can contain duplicate values.

In [16]:
t = tuple()
print(t)
t.append('Kolkata')
# We can't apply list append method to a tuple data structure

()

AttributeError: 'tuple' object has no attribute 'append'

In [17]:
tuple_to_list = list(t)
tuple_to_list.append('Kolkata')
print(list(tuple_to_list))

['Kolkata']

In [18]:
list_to_tuple = tuple(tuple_to_list)
print(list_to_tuple)

('Kolkata',)

In [19]:
list_to_tuple[0] = 'Bengaluru'
list_to_tuple
# Tuples are immutable in nature, so any item assignment is not allowed

TypeError: 'tuple' object does not support item assignment

In [20]:
# But we can check any item of a tuple of any index in valid range
print(list_to_tuple[0])
print(list_to_tuple[-1])

Kolkata
Kolkata

In [21]:
# Tuple Built-in Methods
print("Tuple Built-in Methods".upper())
print("--"*15)

student_marks = (50,60,40,90,80,70,60,50,40,70,10,20,30,7,50,50)
print(student_marks.index(40)) # returns first items index in case of duplication

print(student_marks.count(70))

TUPLE BUILT-IN METHODS
------------------------------
2
2

#### Python Sets
#### A set is a collection of unique data, meaning that elements within a set cannot be duplicated.

#### For instance, if we need to store information about student IDs, a set is suitable since student IDs cannot have duplicates.

In [22]:
student_ids = set()
type(student_ids)

set

In [23]:
# adding elemets to a set
student_ids.add('112347')
student_ids

{'112347'}

In [24]:
# adding duplicate element
student_ids.add('112347')
print(student_ids)
# set didn't get updated

{'112347'}

In [25]:
# remove duplicates
roll_nums = {1,2,3,4,5,6,7,8,9,1,8,4,5,6,3,11,13,15,19,20,13,34,30,20,34}
remove_duplicated = set(roll_nums)
remove_duplicated

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 15, 19, 20, 30, 34}

#### Python Dictionary :- 
#### A Python dictionary is a collection of items, similar to lists and tuples. However, unlike lists and tuples, each item in a dictionary is a key-value pair (consisting of a key and a value).
#### Dictionary Keys must be immutable and unique.

In [26]:
my_dict = {}
d = dict()
print(my_dict,d) # Both are ways to create empty dictionary

{} {}

In [27]:
my_dict = {'name':'sayantan','age':34,'gender':'male'}
# call the value by their key
my_dict['age']

34

In [28]:
d = {'Roll Number':16,'Subjects':['Maths','Chemistry','ComputerAppl','Physics'],'Marks':[80,57,78,71]}
d

{'Roll Number': 16,
 'Subjects': ['Maths', 'Chemistry', 'ComputerAppl', 'Physics'],
 'Marks': [80, 57, 78, 71]}

In [29]:
# We can perform different basic arithmatic calculations
d['Marks'][1] += 10

{'Roll Number': 16,
 'Subjects': ['Maths', 'Chemistry', 'ComputerAppl', 'Physics'],
 'Marks': [80, 67, 78, 71]}

In [30]:
# Adding new key:value pair using keys as index
d['Academic Year']='2007'

In [40]:
print(d)

{'Roll Number': 16, 'Subjects': ['Maths', 'Chemistry', 'ComputerAppl', 'Physics'], 'Marks': [80, 67, 78, 71], 'Academic Year': '2007'}

In [60]:
# Few dictionary methods
print("dictionary methods".upper())
print("--"*15)
print(d['Subjects'][2])
print(d['Subjects'][2].upper())
d.update({'Academic Year':'2005'})
d
print(d.items()) # this will return all keys and values associated
print(d.keys()) # will return all keys present
print(d.values()) # will return only values of each key

DICTIONARY METHODS
------------------------------
ComputerAppl
COMPUTERAPPL
dict_items([('Roll Number', 16), ('Subjects', ['Maths', 'Chemistry', 'ComputerAppl', 'Physics']), ('Marks', [80, 67, 78, 71]), ('Academic Year', '2005')])
dict_keys(['Roll Number', 'Subjects', 'Marks', 'Academic Year'])
dict_values([16, ['Maths', 'Chemistry', 'ComputerAppl', 'Physics'], [80, 67, 78, 71], '2005'])